## Python Training

In [3]:
'''
this is a comment for python
'''

'\nthis is a comment for python\n'

In [4]:
y = 20

In [5]:
number = 25

In [7]:
number

25

In [8]:
number = 50

In [9]:
number

50

In [10]:
name = 'Felix'
print(name)

Felix

In [11]:
name

'Felix'

In [12]:
print(name)

Felix

In [13]:
print(number)

50

### Python Mathematical operator

In [15]:
# + plus
# - minus
# % modulus
# / division
# // integer division
# ** exponent
# * multiplication

In [16]:
10 + 10

20

In [17]:
10 -2

8

In [18]:
10 % 3

1

In [19]:
5 % 3

2

In [20]:
10 / 3

3.3333333333333335

In [21]:
10 // 3

3

In [22]:
2 ** 3

8

In [23]:
5 ** 3

125

In [24]:
5 * 4

20

## Comparism operators

In [25]:
# < greater than 
# < lesss than 
# >= greater or equal
# <= less than or equal to
# == equal to
# != not equal to

In [26]:
 10 > 3

True

In [27]:
3 > 10

False

In [28]:
10 <= 10

True

In [29]:
3 >= 5

False

In [30]:
5 == 4

False

In [31]:
5 != 4

True

### logical operator

In [ ]:
# and
# or
# not

In [37]:
10 > 4 and 4 > 3

True

In [38]:
10 > 4 or 3 < 10

True

In [39]:
not(10 > 4 or 3 < 10)

False

### String

In [40]:
first_name = 'Dennis'
number = '50'

In [41]:
type(first_name)

str

In [42]:
print(type(number))

<class 'str'>

In [43]:
first_name = 'Dennis'
last_name = 'Akagha'

In [46]:
full_name = first_name + " " + last_name

In [47]:
print(full_name)

Dennis Akagha

In [48]:
full_name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [50]:
my_list = ['peter', 'john']

In [51]:
type(my_list)

list

In [52]:
my_list[0] = 'Dennis'

In [53]:
my_list

['Dennis', 'john']

In [54]:
name =  'Dennis'

In [55]:
name[0]

'D'

In [56]:
name[0:3]

'Den'

In [57]:
name[0:]

'Dennis'

In [58]:
name[-1]

's'

In [61]:
name[-3:]

'nis'

In [62]:
print(full_name)

Dennis Akagha

In [66]:
full_name[-6:]

'Akagha'

### String method

In [67]:
full_name.upper()

'DENNIS AKAGHA'

In [68]:
full_name

'Dennis Akagha'

In [70]:
full_name.index('e')

1

In [71]:
full_name.lower()

'dennis akagha'

In [72]:
full_name.title()

'Dennis Akagha'

In [75]:
full_name.count('a')

2

In [80]:
new_full_name = full_name.replace('Dennis', 'Peter')
print(new_full_name)

Peter Akagha

In [78]:
full_name.split()

['Dennis', 'Akagha']

In [81]:
len(full_name)

13

# String formating

In [85]:
a = 'Dennis'
b = 'Peter'
print("the full name is ", a + ' ' + b)

the full name is  Dennis Peter

In [92]:
print("His first name is {} and his last name is {}".format(a, b))

His first name is Peter and his last name is Dennis

In [93]:
print(f"His first name is {a} and his last name is {b}")

His first name is Dennis and his last name is Peter

In [96]:
# Use the len method to print the length of the string:
full_name = 'Stella Mary'

In [ ]:
# Slice the full name into first name and last name.

In [97]:
# Output the first name in capital letters
# Output the last name in capital letters
# replace the 'stella' for 'nicolas'

In [98]:
name_of_university = "University of Lagos"
name = "Peter"
age = 18

# using the .format method and the f-string method, print the following on the screen:
# Peter was is years 18 years old when she enter the university of lagos
# extract/slice the university from the name_of_univeersity variable
# change the 'name' to all caps

### Set

In [3]:
my_set = {'peter', "john", "john", "peter"}

In [4]:
print(my_set)

{'peter', 'john'}

In [5]:
type(my_set)

set

In [6]:
my_set.clear()

In [7]:
print(my_set)

set()

In [8]:
my_set.add(1)

In [9]:
my_set.add('Peter')

In [10]:
my_set

{1, 'Peter'}

In [11]:
my_set.add('Peter')

In [12]:
my_set

{1, 'Peter'}

In [13]:
my_set.add('john')

In [14]:
my_set

{1, 'Peter', 'john'}

In [24]:
thisset = {"apple", "banana", "cherry", 'orange'}
yourset = {'apple', 'orange', 'berries', 'watermelon'}
hisset = {'watermelon', 'cuccumba', 'pineapple', 'apple'}

In [17]:
thisset.intersection(yourset)

{'apple', 'orange'}

In [20]:
thisset.intersection_update(yourset)

In [25]:
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [22]:
yourset

{'apple', 'berries', 'orange', 'watermelon'}

In [28]:
thisset.difference(yourset)

{'banana', 'cherry'}

In [29]:
thisset.pop()

'apple'

In [30]:
thisset

{'banana', 'cherry', 'orange'}

In [31]:
thisset.remove('orange')

In [32]:
thisset

{'banana', 'cherry'}

In [33]:
yourset = {'apple', 'orange', 'berries', 'watermelon'}
hisset = {'watermelon', 'cuccumba', 'pineapple', 'apple'}

In [34]:
yourset.union(hisset)

{'apple', 'berries', 'cuccumba', 'orange', 'pineapple', 'watermelon'}

In [36]:
yourset.symmetric_difference(hisset)

{'berries', 'cuccumba', 'orange', 'pineapple'}

In [37]:
yourset.symmetric_difference_update(hisset)

In [38]:
yourset

{'berries', 'cuccumba', 'orange', 'pineapple'}

## integer, boolean, conversion, inputs

In [46]:
number = int('60')
number2 = int('25')
print(number + number2)

85

In [47]:
type(number)

int

In [50]:
number = False

In [49]:
type(number)

bool

## Float

In [51]:
my_float = 25.0

In [52]:
type(my_float)

float

## Input function

In [54]:
number = input('what is your name? ')
print(number)

what is your name?  Dennis

Dennis

In [57]:
num1 = int(input('Give me your first number'))
num2 = int(input('Give me your second number'))
result = num1 + num2

print(result)

Give me your first number 45
Give me your second number 50

95

## if and else

In [61]:
num1 = 44
# num2 = 50

if num1 % 2 == 0:
    print(f'{num1} is an even number')
else:
    print('{} is an odd number'.format(num1))

44 is an even number

In [66]:
num2 = int(input('give me a number to check'))
if num2 % 2 == 0:
    print(f'{num2} is an even number')
else:
    print('{} is an odd number'.format(num2))

give me a number to check 3

3 is an odd number

In [67]:
# if
# else if
# else

In [76]:
n1 = 'banksss'
# n2 = 'market'

if n1 == 'bank':
    print('I am in the bank')
elif n1 == 'market':
    print('i am in the market')
else:
    print('Not available')

Not available

In [77]:
if n1 == 'bank':
    if n1 != 'bank':
        print('i am in the bank')
    else:
        print('i have lost my way')
else:
    print('This is not okay')

This is not okay

## For loop in Python

In [81]:
name = 'DeSnDs'
for x in name:
    if x == x.upper():
        print(x)

D
S
D

In [82]:
my_list = [2,10,40,24,2,5,6,9]

In [85]:
for num in my_list:
    if num % 2 == 0:
        print(num)

2
10
40
24
2
6

In [96]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [103]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    pass

## Range function

In [117]:
# [start:stop:step]

lists = list(range(0,100,5))

In [118]:
print(lists)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [123]:
for x in lists:
    if x % 2 == 0:
        print(f'{x} is an even number')
    else:
        print(f'{x} is an odd number')

0 is an even number
5 is an odd number
10 is an even number
15 is an odd number
20 is an even number
25 is an odd number
30 is an even number
35 is an odd number
40 is an even number
45 is an odd number
50 is an even number
55 is an odd number
60 is an even number
65 is an odd number
70 is an even number
75 is an odd number
80 is an even number
85 is an odd number
90 is an even number
95 is an odd number

In [ ]:
# function 
# Zip function 
# enumerate function

In [1]:
## function
# parameter
# arguments
# return keyword in python

In [24]:
number = 21
def call_even_odd():
    if number % 2 == 0:
        print('this is an even number')
    else:
        print('this is an odd number')

In [25]:
call_even_odd()

this is an odd number

In [26]:
call_even_odd()

this is an odd number

In [27]:
call_even_odd()

this is an odd number

In [40]:
def say_hello():
    print('Hello')

In [42]:
say_hello()

Hello

In [31]:
print()

hello world

In [43]:
def greet():
    print('Hello World!')

In [44]:
greet()

Hello World!

In [45]:
greet()

Hello World!

In [47]:
# function with two arguments
def add_numbers(num1, num2):
    addition = num1 + num2
    print(addition)

In [46]:
num1 = 10
num2 = 20
addition = num1 + num2
print(addition)

30

In [49]:
add_numbers(20, 50)

70

In [50]:
add_numbers(20, 100)

120

In [61]:
my_sum = [2,4,5,6,7,8,10]
total = 0

for n in my_sum:
    total =  total + n
    print(n)
print(total)

2
4
5
6
7
8
10
42

In [58]:
# total = 0
def print_total(my_list):
    total = 0
    for n in my_list:
        total += n
    print(total)

In [59]:
print_total([1,2,3,4,5])

15

In [76]:
numbers = [1,2,3,4,5,5]
total = 0
for x in numbers:
    
    total = total + x
    print(total)
print(total)

1
3
6
10
15
20

In [77]:
# name = "Dennissssssssss"
# for letter in name:
#     print(name)

In [82]:
def print_total(my_list):
    total = 0
    for n in my_list:
        total += n
        print(n)
    print(total)

In [83]:
print_total([1,2,3,4,5,6,7])

1
2
3
4
5
6
7
28

In [84]:
def greetings(name):
    print('Welcome {}'.format(name))

In [85]:
greetings('Dennis')

Welcome Dennis

In [90]:
greetings('Peter')

Welcome Peter

## Return statement

In [95]:
def add_two_numbers(x, y):
    return x + y

In [96]:
add_two_numbers(12,34)

46

In [97]:
total = add_two_numbers(12,34)
print(total)

46

In [98]:
print(total)

46

In [99]:
total

46

In [100]:
total

46

In [131]:
# Zip Function
age = [12, 15, 20]
f_name = ['Dennis', 'Peter', 'Mary']

In [132]:
result = list(zip(name, age))

In [133]:
result

[('Dennis', 12), ('Peter', 15), ('Mary', 20)]

In [102]:
print(zip(age, name))

<zip object at 0x00000138D6E29340>

In [105]:
result = zip(name, age)
print(result)

<zip object at 0x00000138D6DC7B00>

In [106]:
for x in result:
    print(x)

('Dennis', 12)
('Peter', 15)
('Mary', 20)

In [139]:
languages = ['Python', 'Java', 'JavaScript', 'Peter']

In [146]:
print(dict(enumerate(languages, 3)))

{3: 'Python', 4: 'Java', 5: 'JavaScript', 6: 'Peter'}

In [ ]:
# While loop
# max function
# min function
# sum function
# Project
# Introduction to data analytics
# PANDAS
 # - dealing with rows and columns
 # - OPeration: => min, max, std, describe

## While Loop

In [3]:
x = 'Dennis'

while x[0] == 'd':
    print(x)

In [3]:
while False:
    print(1)

# max, min, sum

In [21]:
lists = [2,3,4,5,6,7,8,9]
# sumx = 1

for x in lists:
    x *= x + 1
    print(x)

6
12
20
30
42
56
72
90

In [6]:
sum(lists)

44

In [7]:
max(lists)

9

In [8]:
min(lists)

2

## PROJECT

In [50]:
# create a function to add two numbers

def add(x, y):
    return x + y

def sub(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x/y

In [51]:
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide

In [52]:
while True:
    choice = input("Enter choice(1/2/3/4): ")
    # check if choice is one of the four options
    
    if choice in ('1', '2', '3', '4'):
        num1 = float(input('enter the first number'))
        num2 = float(input('enter the second number'))
        
        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))
        elif choice == '2':
            print(num1, "-", num2, "=", sub(num1, num2))
        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))
        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
            # Check if the user wants to perfom another calculation
            
        next_calculation = input('Do you want to do another calculation, (yes/no) ')
        if next_calculation == 'no':
            break
    else:
        print("Invalid Input, try the right number")

Enter choice(1/2/3/4):  6

Invalid Input, try the right number

Enter choice(1/2/3/4):  2
enter the first number 20
enter the second number 2

20.0 - 2.0 = 18.0

Do you want to do another calculation, (yes/no)  no

# Data Analytics

#### Pandas

In [53]:
# dataset, dataframe
import pandas as pd

In [55]:
df = pd.read_csv("./weather_2012.csv")
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,01-01-12 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-12 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-12 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-12 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-12 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [59]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,31-12-12 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,31-12-12 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,31-12-12 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,31-12-12 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,31-12-12 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [63]:
df['Temp (C)'].max()

33.0

In [64]:
df.head(7)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,01-01-12 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-12 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-12 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-12 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-12 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,01-01-12 05:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,01-01-12 06:00,-1.5,-3.1,89,7,6.4,101.29,Fog

In [65]:
df['Date/Time'][df['Weather'] == 'Rain']

18      01-01-12 18:00
19      01-01-12 19:00
542     23-01-12 14:00
543     23-01-12 15:00
545     23-01-12 17:00
             ...
8537    21-12-12 17:00
8538    21-12-12 18:00
8539    21-12-12 19:00
8540    21-12-12 20:00
8541    21-12-12 21:00
Name: Date/Time, Length: 306, dtype: object

In [69]:
df['Date/Time']

0       01-01-12 00:00
1       01-01-12 01:00
2       01-01-12 02:00
3       01-01-12 03:00
4       01-01-12 04:00
             ...
8779    31-12-12 19:00
8780    31-12-12 20:00
8781    31-12-12 21:00
8782    31-12-12 22:00
8783    31-12-12 23:00
Name: Date/Time, Length: 8784, dtype: object

In [70]:
df[df['Weather'] == 'Rain']

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
18,01-01-12 18:00,3.8,1.0,82,15,12.9,99.74,Rain
19,01-01-12 19:00,3.1,1.3,88,15,12.9,99.68,Rain
542,23-01-12 14:00,2.7,-1.1,76,26,48.3,101.01,Rain
543,23-01-12 15:00,2.7,-0.9,77,30,24.1,100.86,Rain
545,23-01-12 17:00,3.1,-0.4,78,28,16.1,100.61,Rain
...,...,...,...,...,...,...,...,...
8537,21-12-12 17:00,1.3,0.2,92,46,12.9,97.76,Rain
8538,21-12-12 18:00,1.4,0.3,92,46,25.0,97.56,Rain
8539,21-12-12 19:00,2.3,1.1,92,37,11.3,97.52,Rain
8540,21-12-12 20:00,2.4,1.7,95,15,9.7,97.58,Rain
8541,21-12-12 21:00,1.3,0.4,94,22,9.7,97.64,Rain

In [77]:
df['Wind Spd (km/h)'].mean()

14.94546903460838

In [81]:
df_2 = df[['Wind Spd (km/h)', 'Stn Press (kPa)']]

In [83]:
# df_2

In [86]:
df.head(8)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,01-01-12 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-12 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-12 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-12 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-12 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,01-01-12 05:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,01-01-12 06:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,01-01-12 07:00,-1.4,-3.6,85,7,8.0,101.26,Fog

In [88]:
df.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [92]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [93]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,01-01-12 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-12 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-12 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-12 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-12 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,31-12-12 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,31-12-12 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,31-12-12 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,31-12-12 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,31-12-12 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [94]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [96]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,01-01-12 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-12 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-12 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-12 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-12 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [102]:
df['Temp (C)'].std()

11.687882769691226

In [101]:
df.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [ ]:
# While loop
# max function
# min function
# sum function
# Project
# Introduction to data analytics
# PANDAS
 # - dealing with rows and columns
 # - OPeration: => min, max, std, describe

# How to create a dataframe
# Directly reading from CSV or Excel
# using python dictionary
# using python turple
# how to read a CSV
# How to read from excel
# How to write to CSV
# How to write to excel
# reset index of a dataset
# set_index of a dataset

## How to create a dataframe

In [2]:
## using CSV

In [5]:
import pandas as pd

In [78]:
df = pd.read_csv("./weather_data.csv", na_values={
    "temperature": ["not available"]
})

In [79]:
df

        day  temperature      windspeed          event
0  1/1/2017         32.0              6           Rain
1  1/2/2017         35.0              7  not available
2  1/3/2017         28.0              2           Snow
3  1/4/2017          NaN              1           Rain
4  1/5/2017          NaN             -1  not available
5  1/6/2017          NaN              0           Snow
6  1/7/2017         40.0              0           Rain
7  1/8/2017          4.0             -7          Sunny
8  1/9/2017         20.0  not available           Snow

In [83]:
df.to_csv('new_data_file.csv', index=False)

In [84]:
weather = {
    "day": ['1/1/2017', '1/2/2017' , '1/3/2017', '1/4/2017', '1/5/2017'],
    "temperature": [24, 56, 60, 20, 10],
    "windspeed": [2, 5,7,3,0],
    "events": ["sunny", "clowdy", "Rainy", "Sunny", "Snow"]
}

df_1 = pd.DataFrame(weather)

In [85]:
df_1

        day  temperature  windspeed  events
0  1/1/2017           24          2   sunny
1  1/2/2017           56          5  clowdy
2  1/3/2017           60          7   Rainy
3  1/4/2017           20          3   Sunny
4  1/5/2017           10          0    Snow

In [87]:
weather_1 = [
    ("1/1/2017", 24, 2, "sunny"),
    ("1/2/2017", 56, 5, "clowdy"),
    ("1/3/2017", 60, 7, "Rainy"),
    ("1/4/2017", 20, 3, "Sunny"),
    ("1/5/2017", 10, 0, "Snow"),
]

df_2 = pd.DataFrame(weather_1, columns=["date", "temperature", "windspeed", "events"])

In [88]:
df_2

       date  temperature  windspeed  events
0  1/1/2017           24          2   sunny
1  1/2/2017           56          5  clowdy
2  1/3/2017           60          7   Rainy
3  1/4/2017           20          3   Sunny
4  1/5/2017           10          0    Snow

In [99]:
data = pd.read_excel('./weather data.xlsx', sheet_name="Sheet1")
data

          Day    Temperature Windspeed  Event
0  2017-01-01  not available         6  Rain
1  2017-01-02             35         7  Sunny
2  2017-01-03             28       n.a    NaN
3  2017-01-04  not available         7   Snow
4  2017-01-05             32         4  Rain
5  2017-01-06             32         2    NaN
6  2017-01-07             13       n.a   Snow
7  2017-01-08  not available         3  Rain
8  2017-01-09             32       NaN    NaN
9  2017-01-10  not available         3   Snow
10 2017-01-11  not available       NaN  Rain
11 2017-01-12  not available       NaN  Sunny
12 2017-01-13             12       NaN   Snow

In [100]:
def convert_temperature_cell(cell):
    if cell == 'not available':
        return 30
    return cell

def convert_windspeed_cell(cell):
    if cell == "n.a":
        return "not_available"
    return cell

data = pd.read_excel('./weather data.xlsx', converters={
    "Temperature": convert_temperature_cell,
    "Windspeed": convert_windspeed_cell
})

In [101]:
data

          Day  Temperature      Windspeed  Event
0  2017-01-01           30              6  Rain
1  2017-01-02           35              7  Sunny
2  2017-01-03           28  not_available    NaN
3  2017-01-04           30              7   Snow
4  2017-01-05           32              4  Rain
5  2017-01-06           32              2    NaN
6  2017-01-07           13  not_available   Snow
7  2017-01-08           30              3  Rain
8  2017-01-09           32            NaN    NaN
9  2017-01-10           30              3   Snow
10 2017-01-11           30            NaN  Rain
11 2017-01-12           30            NaN  Sunny
12 2017-01-13           12            NaN   Snow

In [102]:
data

          Day  Temperature      Windspeed  Event
0  2017-01-01           30              6  Rain
1  2017-01-02           35              7  Sunny
2  2017-01-03           28  not_available    NaN
3  2017-01-04           30              7   Snow
4  2017-01-05           32              4  Rain
5  2017-01-06           32              2    NaN
6  2017-01-07           13  not_available   Snow
7  2017-01-08           30              3  Rain
8  2017-01-09           32            NaN    NaN
9  2017-01-10           30              3   Snow
10 2017-01-11           30            NaN  Rain
11 2017-01-12           30            NaN  Sunny
12 2017-01-13           12            NaN   Snow

In [105]:
data.to_csv('weather_data_csv2.csv', index=False)

In [106]:
data

          Day  Temperature      Windspeed  Event
0  2017-01-01           30              6  Rain
1  2017-01-02           35              7  Sunny
2  2017-01-03           28  not_available    NaN
3  2017-01-04           30              7   Snow
4  2017-01-05           32              4  Rain
5  2017-01-06           32              2    NaN
6  2017-01-07           13  not_available   Snow
7  2017-01-08           30              3  Rain
8  2017-01-09           32            NaN    NaN
9  2017-01-10           30              3   Snow
10 2017-01-11           30            NaN  Rain
11 2017-01-12           30            NaN  Sunny
12 2017-01-13           12            NaN   Snow

In [117]:
# set_index
data.set_index('Day', inplace=True)

KeyError: "None of ['Day'] are in the columns"

In [113]:
data

            Temperature      Windspeed  Event
Day
2017-01-01           30              6  Rain
2017-01-02           35              7  Sunny
2017-01-03           28  not_available    NaN
2017-01-04           30              7   Snow
2017-01-05           32              4  Rain
2017-01-06           32              2    NaN
2017-01-07           13  not_available   Snow
2017-01-08           30              3  Rain
2017-01-09           32            NaN    NaN
2017-01-10           30              3   Snow
2017-01-11           30            NaN  Rain
2017-01-12           30            NaN  Sunny
2017-01-13           12            NaN   Snow

In [116]:
data

            Temperature      Windspeed  Event
Day
2017-01-01           30              6  Rain
2017-01-02           35              7  Sunny
2017-01-03           28  not_available    NaN
2017-01-04           30              7   Snow
2017-01-05           32              4  Rain
2017-01-06           32              2    NaN
2017-01-07           13  not_available   Snow
2017-01-08           30              3  Rain
2017-01-09           32            NaN    NaN
2017-01-10           30              3   Snow
2017-01-11           30            NaN  Rain
2017-01-12           30            NaN  Sunny
2017-01-13           12            NaN   Snow

In [119]:
data.loc['2017-01-05']

Temperature       32
Windspeed          4
Event          Rain
Name: 2017-01-05 00:00:00, dtype: object

In [122]:
data.reset_index(inplace=True)

In [123]:
data

          Day  Temperature      Windspeed  Event
0  2017-01-01           30              6  Rain
1  2017-01-02           35              7  Sunny
2  2017-01-03           28  not_available    NaN
3  2017-01-04           30              7   Snow
4  2017-01-05           32              4  Rain
5  2017-01-06           32              2    NaN
6  2017-01-07           13  not_available   Snow
7  2017-01-08           30              3  Rain
8  2017-01-09           32            NaN    NaN
9  2017-01-10           30              3   Snow
10 2017-01-11           30            NaN  Rain
11 2017-01-12           30            NaN  Sunny
12 2017-01-13           12            NaN   Snow

In [125]:
data.loc[2]

Day            2017-01-03 00:00:00
Temperature                     28
Windspeed            not_available
Event                          NaN
Name: 2, dtype: object

In [126]:
data

          Day  Temperature      Windspeed  Event
0  2017-01-01           30              6  Rain
1  2017-01-02           35              7  Sunny
2  2017-01-03           28  not_available    NaN
3  2017-01-04           30              7   Snow
4  2017-01-05           32              4  Rain
5  2017-01-06           32              2    NaN
6  2017-01-07           13  not_available   Snow
7  2017-01-08           30              3  Rain
8  2017-01-09           32            NaN    NaN
9  2017-01-10           30              3   Snow
10 2017-01-11           30            NaN  Rain
11 2017-01-12           30            NaN  Sunny
12 2017-01-13           12            NaN   Snow

In [134]:
data.set_index('Day', inplace=True)

In [135]:
data

            Temperature      Windspeed  Event
Day
2017-01-01           30              6  Rain
2017-01-02           35              7  Sunny
2017-01-03           28  not_available    NaN
2017-01-04           30              7   Snow
2017-01-05           32              4  Rain
2017-01-06           32              2    NaN
2017-01-07           13  not_available   Snow
2017-01-08           30              3  Rain
2017-01-09           32            NaN    NaN
2017-01-10           30              3   Snow
2017-01-11           30            NaN  Rain
2017-01-12           30            NaN  Sunny
2017-01-13           12            NaN   Snow

In [136]:
data.reset_index(inplace=True)

In [137]:
data

          Day  Temperature      Windspeed  Event
0  2017-01-01           30              6  Rain
1  2017-01-02           35              7  Sunny
2  2017-01-03           28  not_available    NaN
3  2017-01-04           30              7   Snow
4  2017-01-05           32              4  Rain
5  2017-01-06           32              2    NaN
6  2017-01-07           13  not_available   Snow
7  2017-01-08           30              3  Rain
8  2017-01-09           32            NaN    NaN
9  2017-01-10           30              3   Snow
10 2017-01-11           30            NaN  Rain
11 2017-01-12           30            NaN  Sunny
12 2017-01-13           12            NaN   Snow

In [1]:
# github
# dealing with NA values using fillna - 
# ffill, 
# bfill, 
# interpolate 
# dropna - method - all, thres=2
# replacement method using np.na
# usingd regular
# Groupby features in pandas
# pandas concat